

<style>
body {
  min-height: 100vh;
  background-image: url('images/cinema.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
<div class="home-page">
  <h1>{{title}}</h1>
<a href="/movies"><button class="home-btn">Check the movies!</button></a>
</div>
